<div class="city" (click)="getPath()">
    <h1>City: {{CityName}}</h1>
    <table>
        <thead>
            <tr>
                <th>Day</th>
                <th></th>
                <th>Max Temp</th>
                <th>Min Temp</th>
                <th>Sea Level</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let day of fiveDay">
                <td>{{convertDay(day)}}</td>
                <td><i class="fas {{getClass(day.weather[0].main)}}"></i></td>
                <td>{{convert(day.main.temp_max)}}</td>
                <td>{{convert(day.main.temp_min)}}</td>
                <td>{{day.main.sea_level}}</td>
            </tr>
        </tbody>
    </table>
</div>