.weather {
  /* height: 50%;
  width: 50%; */
  /* position: absolute; */
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  /* background-color: hsl($temp, 80%, 40%); */
  color: black;
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.weather:hover {
  cursor: pointer;
}

.weather  * {
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.weather .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-size: cover;
  opacity: .4;
}

.weather .background.Smoke {
  background-image: url('https://images.unsplash.com/photo-1475778057357-d35f37fa89dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}

.weather .background.Clouds {
  background-image: url('https://images.unsplash.com/photo-1511680321409-d92a85fc4f66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80');
}

.weather .background.Rain {
  background-image: url('https://images.unsplash.com/photo-1534274988757-a28bf1a57c17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80');
}

.weather .background.Clear {
  background-image: url('https://images.unsplash.com/photo-1523733257207-0b1c3aafa441?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80');
}

.weather .background.Mist {
  background-image: url('https://images.unsplash.com/photo-1546340270-9908deb7b9a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1471&q=80');
}

.weather .weather-details {
  height: 100%;
  width: 100%;
  text-align: center;
}

.weather .weather-details h3 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 5;
  position: relative;
  font-size: 18px;
}

.weather .weather-details {
  @media (max-width: 768px) {
    top: calc(50% - 50px);
  }
}

.weather .weather-details .cityName {
  padding: 14px;
}

.weather .weather-details .todayTemp {
  padding: 12px; 
  font-weight: bold;
}

.time {
  display:inline-block; 
  padding: 20px;
}

