<div class="weather weather-{{index}}" (click)="expand()">
  <div class="weather-details">
    <h3 class="cityName">{{city.name}}</h3>
    <h3 class="todayTemp">{{convert(city.main.temp)}}&deg;</h3>
    <div>
      <div class="time">
        <span>SUNRISE </span>
        <span>{{getTime(city.sys.sunrise)}} <span>AM</span></span>
      </div>
      <div class="time">
        <span>SUNSET </span>
        <span>{{getTime(city.sys.sunset)}} <span>PM</span></span>
      </div>
    </div>
  </div>
  <div class="background {{city.weather[0].main}}"></div>
</div>