<div class="home">
    <app-weather [city]="city1" [index]=1></app-weather>
    <app-weather [city]="city2" [index]=2></app-weather>
    <app-weather [city]="city3" [index]=3></app-weather>
    <app-weather [city]="city4" [index]=4></app-weather>
    <app-weather [city]="city5" [index]=5></app-weather>
</div>
